<% provide(:title, "スポット一覧") %>
<div class="spot back">
  <div class="search">
    <h3>条件で探す</h3>
    <div class="search-forms">
      <%= form_with(url: spots_path, 
                    method: :get, 
                    class: "search-form form-style") do |form| %>
        <%= form.select :area,
                options_for_select(@areas, selected: params[:area]),
                { include_blank: 'エリアを選択する'},{class: "search-input" } %>
        <%= form.select :category,
                options_for_select(@categories, selected: params[:category]),
                { include_blank: 'ジャンルを選択する'},{class: "search-input" } %>
        <%= form.text_field :keyword, placeholder: "キーワードを入力", class: "search-input", value: params[:keyword] %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="spot-content-box">
    <% @spots.each do |spot| %>
      <div class="spot-contents">
        <%= link_to spot_path(spot.id) do %>
          <% if spot.icon.attached? %>
            <p class="img"><%= image_tag(spot.icon, alt: spot.name, style: "width: 300px; height: 300px;", class: "preload-image", data: { src: rails_blob_path(spot.icon, only_path: true) }) %></p>
          <% else %>
            <p class="img"><%= image_tag("no-image.jpg", alt: "No image", style: "width: 300px; height: 300px;" ) %></p>
          <% end %>
          <p class="name"><%= spot.name %></p>
          <div class="bookmark-message", id="message-container-<%= spot.id %>"></div>
          <span class="triangle"></span>
          <div id="bookmark-button-container-<%= spot.id %>">
            <% if customer_signed_in? %>
              <%= render 'spots/bookmark_button', spot:spot %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <a class="gotop" href="#top" aria-label="ページの先頭に戻る"></a>
</div>
