<% provide(:title, "サイトマップ") %>
<div class="site-back back">
  <h1>サイトマップ</h1>
  <div class="site-contents">
    <ul>
      <p>愛媛のスポットを探す</p>
      <li>
        <%= link_to "ぐるぐるマップから探す",   root_path %>
      </li>
      <li>
        <%= link_to "一覧から探す",             spots_path %>
      </li>
      <li>
        <%= link_to "イベントから探す",         events_path %>
      </li>
      <li>
        <%= link_to "おすすめルートから探す",   routes_path %>
      </li>
    </ul>
    <ul>
      <p>ぐるぐるマップえひめについて</p>
      <li>
        <%= link_to "お問い合わせ",   contact_path %>
      </li>
      <li>
        <%= link_to "よくある質問",   help_path %>
      </li>
    </ul>
  </div>
</div>
