<div class="container">
  <div class="background">
    <div class="main">
      <div class="maps">
        <%= image_tag("map-large.webp", alt: "愛媛県の地図", id: "main-map",srcset: "#{image_path('map-small.webp')} 480w, #{image_path('map-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
        <%= render 'static_pages/area_map' %>
      </div>

      <div class="switch-btns">
        <span>ジャンルをえらぶ</span>
        <%= image_tag("map-btn-large.webp", alt: "マップボタン", id: "btn1", class: "button", srcset: "#{image_path('map-btn-small.webp')} 480w, #{image_path('map-btn-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
        <%= image_tag("asobu-btn-large.webp", alt: "あそぶボタン", id: "btn2", class: "button sepia", srcset: "#{image_path('asobu-btn-small.webp')} 480w, #{image_path('asobu-btn-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
        <%= image_tag("taberu-btn-large.webp", alt: "たべるボタン", id: "btn3", class: "button sepia", srcset: "#{image_path('taberu-btn-small.webp')} 480w, #{image_path('taberu-btn-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
        <%= image_tag("rekisi-btn-large.webp", alt: "れきしボタン", id: "btn4", class: "button sepia", srcset: "#{image_path('rekisi-btn-small.webp')} 480w, #{image_path('rekisi-btn-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
        <%= image_tag("omiyage-btn-large.webp", alt: "おみやげボタン", id: "btn5", class: "button sepia", srcset: "#{image_path('omiyage-btn-small.webp')} 480w, #{image_path('omiyage-btn-large.webp')} 1080w", sizes: "100vw", style: "width: 100%; height: auto;" ) %>
      </div>
    </div>

    <div class="main-contents">
      <%= image_tag("cloud1.png", alt: "雲", id: "cloud") %>

      <div class="main-section">
        <div class="target">
          <h2>ぐるぐるマップでさがそう</h2>
          <p>
            異なるジャンルごとの観光地がひと目でわかりやすい地図。<br>
            特におすすめしたい旅行ルートの提案。<br>
            おもな県内イベントの掲載。<br>
            <span>ぐるぐるマップ愛媛は、あなたが愛媛を知るサポートをします。</span>
          </p>
          <div class="main-image">
            <%= image_tag("top1.webp", alt: "みかん人間", id: "human", style: "width: 100%; height: 95%" ) %>
          </div>
        </div>
      </div>

      <div class="main-section">
        <h2 class="target">「えひめ」について知ろう</h2>

        <div class="images-container target">
          <div class="image-container">
            <div class="icon-container">
              <%= image_tag("icon1.webp", alt: "みかんのアイコン", id: "orange", class: "icon", style: "width: 100%; height: auto;" ) %>
            </div>
            <div class="container-text">
              <h3>愛媛はみかんで有名？</h3>
              <p>温暖な気候と肥沃な土地でみかん栽培が盛ん。収穫量も全国トップクラスであり、みかんの県として知名度が高い。</p>
            </div>
          </div>
          <div class="image-container target">
            <div class="icon-container">
              <%= image_tag("icon2.webp", alt: "森のアイコン", id: "nature", class: "icon", style: "width: 100%; height: auto;" ) %>
            </div>
            <div class="container-text">
              <h3>自然がいっぱい？</h3>
              <p>愛媛は山、海、平野…など、自然があふれる県。瀬戸内海は天然の生簀と言われるほど豊富な魚介が魅力。自然の幸が揃う、それが愛媛。</p>
            </div>
          </div>
          <div class="image-container target">
            <div class="icon-container">
              <%= image_tag("icon3.webp", alt: "街のアイコン", id: "city", class: "icon", style: "width: 100%; height: auto;" ) %>
            </div>
            <div class="container-text">
              <h3>住みやすい街ってほんと？</h3>
              <p>住みやすい田舎ランキングなどで上位に入る街もある愛媛。豊富な自然や温泉、空港や家賃の安さなど…充実した住みやすい田舎だと言える。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-image">
        <h2 class="target pick">ピックアップ</h2>
        <div class="slideshow target">
          <div class="slide-screen">
            <div class="slideshow-slides">
              <div class="slide">
                <%= link_to image_tag("aosima.webp", alt: "青島", style: "width: 100%; height: 100%;"), spot_path(5) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("isiduti.webp", alt: "石鎚", style: "width: 100%; height: 100%;"), spot_path(4) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("iyosi.webp", alt: "下灘駅", style: "width: 100%; height: 100%;"), spot_path(6) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("onsen.webp", alt: "道後温泉", style: "width: 100%; height: 100%;"), spot_path(1) %>
              </div>
            </div>
          </div>
          <div class="slideshow-nav">
            <span class="prev btn"><%= image_tag("prev.webp", alt: "戻るボタン", style: "width: 35px; height: 34px;" ) %></span>
            <span class="next btn"><%= image_tag("next.webp", alt: "進むボタン", style: "width: 35px; height: 34px;" ) %></span>
          </div>
          <div class="slideshow-indicator"></div>
          <div class="section-title">
            <p class="text">青島</p>
            <p class="text">石鎚</p>
            <p class="text">下灘駅</p>
            <p class="text">道後温泉</p>
          </div>
        </div>
      </div>
    </div>
  <div>
  <a href="#" class="gotop"></a>
</div>

