<div class="container">
  <div class="background">
    <div class="main">
      <div class="maps">
        <%= image_tag("map.png", alt: "愛媛県の地図", id: "map") %>
        <%= render 'static_pages/area_map' %>
      </div>

      <div class="switch_btns">
        <span>ジャンルをえらぶ</span>
        <%= image_tag("map_btn.png", alt: "マップ", id: "btn1", class: "button") %>
        <%= image_tag("asobu_btn.png", alt: "あそぶ", id: "btn2", class: "button sepia") %>
        <%= image_tag("taberu_btn.png", alt: "たべる", id: "btn3", class: "button sepia") %>
        <%= image_tag("rekisi_btn.png", alt: "れきし", id: "btn4", class: "button sepia") %>
        <%= image_tag("omiyage_btn.png", alt: "おみやげ", id: "btn5", class: "button sepia") %>
      </div>
    </div>

    <div class="main-contents">
      <%= image_tag("cloud1.png", alt: "雲", id: "cloud") %>

      <div class="main-section">
        <div class="target">
          <h2>ぐるぐるマップでさがそう</h2>
          <p>
            異なるジャンルごとの観光地がひと目でわかりやすい地図。<br>
            特におすすめしたい旅行ルートの提案。<br>
            おもな県内イベントの掲載。<br>
            <span>ぐるぐるマップ愛媛は、あなたが愛媛を知るサポートをします。</span>
          </p>
          <div class="main-image">
            <%= image_tag("top1.png", alt: "みかん人間", id: "human") %>
          </div>
        </div>
      </div>

      <div class="main-section">
        <h2 class="target">「えひめ」について知ろう</h2>

        <div class="images-container target">
          <div class="image-container">
            <%= image_tag("icon1.png", alt: "みかんのアイコン", id: "orange", class: "icon") %>
            <div class="container-text">
              <h3>愛媛はみかんで有名？</h3>
              <p>温暖な気候と肥沃な土地でみかん栽培が盛ん。収穫量も全国トップクラスであり、みかんの県として知名度が高い。</p>
            </div>
          </div>
          <div class="image-container target">
            <%= image_tag("icon2.png", alt: "森のアイコン", id: "nature", class: "icon") %>
            <div class="container-text">
              <h3>自然がいっぱい？</h3>
              <p>愛媛は山、海、平野…など、自然があふれる県。瀬戸内海は天然の生簀と言われるほど豊富な魚介が魅力。自然の幸が揃う、それが愛媛。</p>
            </div>
          </div>
          <div class="image-container target">
            <%= image_tag("icon3.png", alt: "街のアイコン", id: "city", class: "icon") %>
            <div class="container-text">
              <h3>住みやすい街ってほんと？</h3>
              <p>住みやすい田舎ランキングなどで上位に入る街もある愛媛。豊富な自然や温泉、空港や家賃の安さなど…充実した住みやすい田舎だと言える。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-image">
        <h2 class="target">ピックアップ</h2>

        <div class="slideshow target">
          <div class="slide-screen">
            <div class="slideshow-slides">
              <div class="slide">
                <%= link_to image_tag("aosima.jpg", alt: "青島"), spot_path(5) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("isiduti.jpg", alt: "石鎚"), spot_path(4) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("iyosi.jpg", alt: "下灘駅"), spot_path(6) %>
              </div>
              <div class="slide">
                <%= link_to image_tag("onsen.jpg", alt: "道後温泉"), spot_path(1) %>
              </div>
            </div>
          </div>
          <div class="slideshow-nav">
            <span class="prev"><%= image_tag("button2.png", alt: "進むボタン", width: "35") %></span>
            <span class="next"><%= image_tag("button1.png", alt: "戻るボタン", width: "35") %></span>
          </div>
          <div class="slideshow-indicator"></div>
          <div class="section-title">
            <p class="text">青島</p>
            <p class="text">石鎚</p>
            <p class="text">下灘駅</p>
            <p class="text">道後温泉</p>
          </div>
        </div>
      </div>
    </div>
  <div>
  <a href="#" class="gotop"></a>
</div>
