<% provide(:title, "おすすめルート") %>
<div class="back">
  <div class="selection-screen screen">
    <div class="selection">
      <ul>
        <% routes = [
          {
            title: "サクッと松山観光ルート",
            image: "onsen.jpg",
            sections: [
              { title: "松山銀天街", description: "松山の中心街に行こう" },
              { title: "道後商店街", description: "電車で道後へ行き、お土産やスイーツを堪能" },
              { title: "道後温泉", description: "道後温泉に浸かろう" }
            ]
          },
          {
            title: "愛媛をぐるっとよくばりルート",
            image: "utiko.jpg",
            sections: [
              { title: "道後", description: "道後商店街を巡る" },
              { title: "内子", description: "内子の歴史ある街並み、古民家のショップを巡る" },
              { title: "佐田岬", description: "愛媛の最西端に行く" }
            ]
          },
          {
            title: "家族でレジャー体験ルート",
            image: "keikoku.jpg",
            sections: [
              { title: "滑床渓谷", description: "滑床渓谷に行く" },
              { title: "渓谷で遊ぶ", description: "予約しておいたキャニオニングをする" },
              { title: "キャンプ場", description: "近くのキャンプ場に行く" }
            ]
          },
          {
            title: "海と自然を満喫ルート",
            image: "ocean.jpg",
            sections: [
              { title: "面河渓", description: "面河渓で自然を感じる" },
              { title: "四国カルスト", description: "ドライブコースを通り広大なカルストを堪能" },
              { title: "西海観光船", description: "船の中から海を楽しむ" }
            ]
          },
        ] %>
        <% routes.each_with_index do |route, index| %>
          <li><a href="#link<%= index + 1 %>"><span><%= index + 1 %></span><%= route[:title] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% routes.each_with_index do |route, index| %>
    <a id="link<%= index + 1 %>"></a>
    <div class="route screen">
      <span class="route-index">Start <%= route[:title] %></span>
      <div class="border">
        <div class="route-section">
          <% route[:sections].each_with_index do |section, index| %>
            <div class="section">
              <h4><span class="route-index"><%= index + 1 %></span><%= section[:title] %></h4>
              <p><%= section[:description] %></p>
            </div>
          <% end %>
        </div>
        <div class="route-map">
          <%= image_tag(route[:image], alt: route[:title], class: "route-image") %>
        </div>
      </div>
      <span class="route-index">end</span>
    </div>
  <% end %>
  <a href="#" class="gotop"></a>
</div>
