<div class="back">
  <ul id="event-<%= @event.id %>">
    <li class="event-name"><%= @event.name %></li>
    <li class="event-address"><%= @event.address %></li>
    <li class="event-season"><%= @event.season %></li>
    <li class="event-content"><%= @event.content %></li>
    <li><%= link_to "←戻る", '#', onclick: "history.back()" %></li>
  </ul>
</div>