<header class="navbar">
  <div class="container">
    <%= link_to image_tag("logo.png", alt: "ぐるぐるマップ愛媛", id: "logo"), root_path %>
    <nav>
      <ul class="navbar-list">
        <li><%= link_to "ぐるぐるマップ", root_path %></li>
        <li><%= link_to "スポット一覧", '#' %></li>
        <li><%= link_to "イベント", '#' %></li>
        <li><%= link_to "えひめフォト", '#' %></li>
        <li><%= link_to "おすすめルート", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
