<header class="navbar">
  <div class="header-contents">
    <%= link_to image_tag("logo.png", alt: "ぐるぐるマップ愛媛", id: "logo"), root_path %>
    <div class="responsive-btn">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>

    <nav class="header-nav">
      <ul class="navbar-list">
        <li><%= link_to "ぐるぐるマップ", root_path %></li>
        <li><%= link_to "スポット",       spots_path %></li>
        <li><%= link_to "イベント",       events_path %></li>
        <li><%= link_to "おすすめルート", routes_path %></li>
      </ul>
    </nav>
  </div>
</header>
