<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="ぐるぐるマップ愛媛はジャンルごとの観光地がひと目でわかりやすいマップ、スポット一覧、イベントリスト、おすすめルートなどの掲載を通して、愛媛のことを知るサポートをするサイトです。">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
